* {
    font-family: Helvetica, Arial, sans-serif;
}

:root {
    --colorChoice: #bd5e06;
    --colorChoiceHover: #db8a3e;
    --listColorOne: #ffe7d1;
    --listColorTwo: #fcf4ed;
    --lightText: white;
    --correctWrong: rgb(187, 187, 187);
}

h1 {
    font-size: 2.3rem;
}

h2 {
    font-size: 1.8rem;
    font-weight: 500;
    font-style: italic;
    color: var(--correctWrong);
    border-top: 2px solid var(--correctWrong);
    flex: 0 1 800px;
    padding-top: 10px;
}

p, label, li {
    font-size: 1.2rem;
    margin: 0;
    list-style: none;
}

li {
    padding: 2px;
    padding-left: 4px;
}

ul {
    padding: 0;
    margin: 30px 0;
    flex: 0 1 800px;
}

li:nth-child(odd) {
    background-color: var(--listColorOne);
}

li:nth-child(even) {
    background-color: var(--listColorTwo);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 1.2rem;
    padding: 0;
    margin: 10px;
    margin-bottom: 50px;
}

header a {
    text-decoration: none;
    color: var(--colorChoice);
}

header p {
    text-align: right;
}

.contentBlock {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
    
}

.contentBlock h1, .contentBlock p {
    flex: 0 1 800px;
    text-align: center;
    margin-bottom: 30px;
}

button, #submitInitialsButton {
    border: none;
    border-radius: 5px;
    padding: 3px 10px;
    margin-bottom: 5px;
    background-color: var(--colorChoice);
    color: var(--lightText);
}

button:hover, #submitInitialsButton:hover {
    background-color: var(--colorChoiceHover);
}

.questionBlock h1, .questionBlock button {
    text-align: left;
}

.questionBlock button {
    margin-left: 10px;
}

.questionBlock {
    justify-content: flex-start;
    margin-left: 20%;
    padding-right: 10%;
}

.finishedBlock p {
    text-align: left;
}

.highscoresBlock h1 {
    margin-top: 100px;
    margin-bottom: 0px;
}

.flexboxLineBreak {
    flex-basis: 100%;
}

.hidden {
    display: none;
}