/* Global Attributes and Variables */
* {
    font-family: Helvetica, Arial, sans-serif;
}

:root {
    --buttonColor: #bd5e06;
    --buttonColorHover: #db8a3e;
    --listColorOne: #ffe7d1;
    --listColorTwo: #fcf4ed;
    --lightText: white;
    --correctWrong: #bbbbbb;
}

/* --------------------------------------------------------------- */
/* Element Styles */
h1 {
    font-size: 2.3rem;
}
h2 {
    font-size: 1.8rem;
    font-weight: 500;
    font-style: italic;
    color: var(--correctWrong);
    border-top: 2px solid var(--correctWrong);
    flex: 0 1 800px;
    padding-top: 10px;
}
a {
    text-decoration: none;
    color: var(--buttonColor);
}
p, label, li {
    font-size: 1.2rem;
    margin: 0;
    list-style: none;
}
li {
    padding: 2px;
    padding-left: 4px;
}
ul {
    padding: 0;
    margin: 30px 0;
}

/* --------------------------------------------------------------- */
/* Alternating list colors */
li:nth-child(odd) {
    background-color: var(--listColorOne);
}
li:nth-child(even) {
    background-color: var(--listColorTwo);
}

/* --------------------------------------------------------------- */
/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 1.2rem;
    padding: 0;
    margin: 10px;
    margin-bottom: 80px;
}

header p {
    text-align: right;
}

/* --------------------------------------------------------------- */
/* Content Block Styles */
.contentBlock {
    margin: auto;
    width: 800px;
}

.contentBlock h1, .contentBlock p {
    text-align: center;
    margin-bottom: 30px;
}

/* --------------------------------------------------------------- */
/* Button Styles */
button, #submitInitialsButton {
    border: none;
    border-radius: 5px;
    padding: 3px 10px;
    margin: 0px auto;
    margin-bottom: 5px;
    background-color: var(--buttonColor);
    color: var(--lightText);
}

button:hover, #submitInitialsButton:hover {
    background-color: var(--buttonColorHover);
}

/* --------------------------------------------------------------- */
/* Tweaking Styles */
.leftAlignment h1, .leftAlignment p {
    text-align: left;
}

.leftAlignment button {
    display: block;
    margin-left: 10px;
}

.highscoresBlock h1 {
    margin-top: 100px;
    margin-bottom: 0px;
}

.highscoresBlock button {
    display: inline;
}

.centerContent {
    display: flex;
    justify-content: center;
}

/* Applied in JS to alter game state */
.hidden {
    display: none;
}